{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title %} {{ block.super }} - Please Confirm Your Email {% endblock %}

{% block body_block %}
    <div class="container">
        <h1 class="display-4">You're almost done!</h1>
        <h3>We just need one more thing:</h3>
        <p>Please go to your email inbox and click the confirmation link to start using your account.</p>
    </div>

    <!-- hides the sign in and sign up buttons -->
    <script src="{% static 'js/password_reset.js' %}" ></script>
{% endblock %}
