{% extends 'concert/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_block %}
    <div class="container">
        {% if validlink %}
        <h3>Change password</h3>
        
        <form method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
                <input class="btn btn-success" type="submit" name="submit" value="Submit">        
            </form>
      {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      {% endif %}
  </div>
{% endblock %} 