.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navbar-right {
	float: right;
}


.bg { 
  /* The image used */
  background-image: url('../../static/images/concert.jpg');

  /* Full height */
  height: 80%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}