.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navbar-right {
	float: right;
}

input.image-upload {
	position: absolute;
  	opacity: 0;
  	right: 0;
  	top: 0;
}

div.image-upload {
	position: relative;
  	overflow: hidden;
}
