#go-top {
    display: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 99; /* make sure button does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1%; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#go-top:hover {
    background-color: #555;
    border-color: #555;
}