#hint1 {
  display: inline-block;
  animation: rotation 0.8s linear;
  animation-iteration-count: 2;
  animation-delay: 1.5s;
}

@keyframes rotation {
  50% {
    transform: rotateY(40deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.tile-container {
	perspective: 1000px;
  	-moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
	-webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
}

.tile-container:active .tile, .tile-container.hover .tile {
	transform: rotateY(180deg);
}

.tile-container:hover .tile, .tile-container.hover .tile {
	transform: rotateY(180deg);
}

.tile-container, .tile-front, .tile-back {
	width: 100%;
	height: 340px;
	border-radius: 10%;
}

.tile {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.tile-front, .tile-back {
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.tile-front {
	z-index: 2;
	transform: rotateY(0deg);
  	-webkit-transform: rotateY(0deg);
  	background: #E5E9F1;
}

.tile-back {
	transform: rotateY(180deg);
  	-webkit-transform: rotateY(180deg);
}

.mt {
	margin-top: 20px;
}

.center {
	position: absolute;
  	top: 33%;
  	left: 23%;
}

.center h6 {
	text-align: center;
	font-weight: bold;
}

.bottom-left {
	position: absolute;
  	bottom: -1%;
  	left: 9%;
}

.bottom-left p {
	color: white;
	outline-color: black;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
