{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title %} {{ block.super }} - About {% endblock %}

{% block body_block %}

    <div id = "randImage" class = "background-cover">
    <br>
    <br>
    <br>
    
   
    <div class="container">

        <h1 class="display-4">About</h1>

        <p>Welcome to FindMyConcert! This is a univerisity project created for the Web Application Development course at the University of Glasgow. The premise of the website is to allow users to find concerts in their local area and for venues to be able to easily add new concerts.</p>

        <p>FindMyConcert was developed by:</p>

        <div class="row">
        	<div class="col-6 col-md-5 col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="{% static 'images/ollie.jpg' %}">
 
                    <div class="card-body">
                        <h5 class="card-title">Ollie Gardner</h5>
 						
 						<a href="https://github.com/olliegardner" style="color: inherit;"><i class="fab fa-github fa-2x"></i></a>
 						<a href="https://www.facebook.com/olliegardner2" style="color: inherit;"><i class="fab fa-facebook fa-2x"></i></a>
        				<a href="mailto:olliegardner@gmail.com" style="color: inherit;"><i class="fas fa-envelope fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-5 col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="{% static 'images/axel.jpg' %}" style="height: 14.8rem; object-fit: cover;">
 
                    <div class="card-body">
                        <h5 class="card-title">Axel Stjerngren</h5>
 						<a href="https://github.com/axelstjerngren" style="color: inherit;"><i class="fab fa-github fa-2x"></i></a>
 						<a href="https://www.facebook.com/axel.stjerngren" style="color: inherit;"><i class="fab fa-facebook fa-2x"></i></a>
 						<a href="https://www.linkedin.com/in/axel-stjerngren/" style="color: inherit;"><i class="fab fa-linkedin fa-2x"></i></a>
        				<a href="mailto:a.stjerngr@gmail.com" style="color: inherit;"><i class="fas fa-envelope fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-5 col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="{% static 'images/robert.jpg' %}">
 
                    <div class="card-body">
                        <h5 class="card-title">Robert Pringle</h5>
 						
 						<a href="https://github.com/2304777P" style="color: inherit;"><i class="fab fa-github fa-2x"></i></a>
 						<a href="https://www.facebook.com/robert.pringle.7503" style="color: inherit;"><i class="fab fa-facebook fa-2x"></i></a>
        				<a href="mailto:pringle@live.co.uk" style="color: inherit;"><i class="fas fa-envelope fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-5 col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="{% static 'images/patryk.jpg' %}">
 
                    <div class="card-body">
                        <h5 class="card-title">Patryk Kaczmarczyk</h5>
 						
 						<a href="https://github.com/Patsonical" style="color: inherit;"><i class="fab fa-github fa-2x"></i></a>
 						<a href="https://www.facebook.com/patryk.kaczmarczyk4" style="color: inherit;"><i class="fab fa-facebook fa-2x"></i></a>
        				<a href="mailto:patryk.kaczmarczyk.mail@gmail.com" style="color: inherit;"><i class="fas fa-envelope fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-5 col-lg-3" style="padding-top: 1%">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="{% static 'images/andrew.jpg' %}">
 
                    <div class="card-body">
                        <h5 class="card-title">Andrew Finlayson</h5>
 						
 						<a href="https://github.com/Annddrew" style="color: inherit;"><i class="fab fa-github fa-2x"></i></a>
 						<a href="https://www.facebook.com/andrew.finlayson.180" style="color: inherit;"><i class="fab fa-facebook fa-2x"></i></a>
        				<a href="mailto:andrewfinlayson@live.com" style="color: inherit;"><i class="fas fa-envelope fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <hr>

        <div style="float: right;">
        	<a href="https://github.com/olliegardner/" style="color: inherit;"><i class="fab fa-github fa-2x"></i></a>
        	<a href="mailto:findmyconcert.wadproject@gmail.com" style="color: inherit;"><i class="fas fa-envelope fa-2x"></i></a>
    	</div>
    </div>

</div>

{% endblock %}
