<!DOCTYPE html>
{% load staticfiles %}

<html> 
    <head lang="en">
        <title>{% block title %}FindMyConcert{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head> 

    <body>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="col-4">
                        <a class="navbar-brand" href="{% url 'index'%}"><b>FindMyConcert</b></a>
                    </div>

                    <div class="col-6">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <a class="nav-link" href="{% url 'index'%}">Home</a>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{% url 'myEvents'%}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Events</a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Upcoming Events</a>
                                        <a class="dropdown-item" href="#">Past Events</a>
                                    </div>
                                </li>

                                <li class="nav-item"><a class="nav-link" href="{% url 'about'%}">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'contact'%}">Contact</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'faq'%}">FAQ</a></li>
                            </ul>
                
                        </div>
                    </div>
            
                    <div class="col-2">
                        <div style="text-align: right">
                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        {% if user.userprofile.image != "" %}
                                            <img src="{{ user.userprofile.image.url }}" id="avatar" alt="avatar">
                                        {% else %}
                                            <img src="{% static 'images/no-profile-image.png' %}" id="avatar">
                                        {% endif %}
                                    
                                        <span class="caret"></span>
                                    </button>

                                    <div class="dropdown-menu">
                                        <span class="dropdown-item-text">Signed in as</span>
                                        <b><span class="dropdown-item-text">{{ user.username }}</span></b>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'profile' user.username %}">Your profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a>
                                    </div>
                                </div>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="btn btn-light" role="button">Sign in</a>
                                <a href="{% url 'account_signup' %}" class="btn btn-outline-dark" role="button">Sign up</a> 
                            {% endif %}
                        
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <hr>

        <div>
            {% block body_block %}

            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body> 
</html>
