<!DOCTYPE html>
{% load staticfiles %}

<html> 
	<head lang="en">
		<title>
			{% block title %}FindMyConcert{% endblock %}
		</title>
	</head> 

	<body>
		<div>
			<h1>FindMyConcert</h1>

			<a href="{% url 'index'%}">Home</a>
			<a href="{% url 'myEvents'%}">My Events</a>
			<a href="{% url 'about'%}">About</a>
			<a href="{% url 'contact'%}">Contact</a>
			<a href="{% url 'faq'%}">FAQ</a>

			<div style="text-align: right">
				{% if user.is_authenticated %}
					Welcome {{ user.username }}

					<a href="{% url 'profile' user.username %}">View Profile</a>
					<a href="{% url 'auth_logout' %}?next=/concert/accounts/logout">Logout</a>
				{% else %}
					<a href="{% url 'auth_login' %}">Login</a>
					<a href="{% url 'registration_register' %}">Register</a>
				{% endif %}

			</div>

			<hr>
		</div>

		<div>
			{% block body_block %}

			{% endblock %}
		</div>

	</body> 

</html>