{% extends 'concert/base.html' %}
{% load staticfiles %} 
{% load extra_tags %}
{% block title_block %} {{ block.super }} {% endblock %}

{% block body_block %}

{% if user.is_authenticated and user.dark_mode %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/concertDark.css' %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/concert.css' %}">
{% endif %}

<div class="container">
    <br>
    <h1 id="concert_title"> {{ concert.artist}} at {{ concert.venue.venue_name }}</h1>
    <div class="row">
        <div class ="col-lg-6 col-12  col-md-12">
        
            <p>{{ concert.venue.venue_name }} , {{ concert.venue.location }}<br>{{ concert.start_time }} - {{ concert.end_time }}   {{ concert.date }}</p>
            <p>
                <a href="{{ concert.url }}" target="_blank">Tickets</a>  
                {% if user.is_authenticated and not user.is_venue %}
                    {% if not bookmarked %}
                        <button class="btn btn-outline-success navbar-right pull-right" id = "bookmarkbutton" onclick="bookmark({{ concert.concertID }})" >Bookmark</button> 
                    {% else %}
                        <button class="btn btn-outline-danger navbar-right pull-right" id = "bookmarkbutton" onclick="removebookmark({{ concert.concertID }})" >Remove Bookmark</button> 
                    {% endif %}
                {% endif %}
            </p>
            <img class = "concert-image" src="{{ concert.image.url }}">
            <br>
            <br>
            <h2>{{ concert.artist }}  
                {% enough_ratings concert.concertID as rated %}
                {% if rated %}
                    <span data-url="{% get_rating concert.concertID %}" class="notbold line" id="stars"></span>
                {% else %}
                    <span  class="notbold line" id="stars-not-rated"></span>
                {% endif %}
            </h2>
            <p>{{ concert.description }}</p>
            <br>
            <br>
        </div>


        <div class ="col-lg-6 col-12 col-md-12">
            <!-- Bootstrap tabs start -->
            <ul class="nav nav-tabs">

                <li class="nav-item"> 
                    <a class="nav-link active" data-toggle="tab" href="#comments" role="tab" aria-selected="true">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#going" role="tab" aria-selected="true">{% if concert.is_future %} Going {% else %} Went {% endif %}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#venue" role="tab" aria-selected="true">Venue</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#spotify" role="tab" aria-selected="true">Spotify</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#map" role="tab" aria-selected="true">Map</a>
                </li>
            </ul>
            <!-- Bootstrap tabs end -->

            <div class="tab-content"> <!-- This is where the content for the different tabs are defined -->
                
                <div id="comments" class="tab-pane fade show active"> <!-- This tab shows the comments associated to the concert -->
                    <br>
                    <h2> Comments</h2>
                    <div class="col-md-6 col-md-offset-2 col-sm-12 col-lg-12">
                        <!-- Comment input area start -->
                        {% if user.is_authenticated %}
                            <textarea id = "commentbox" class="form-control" placeholder="write a comment..." rows="3"></textarea>
                            <br>
                            <form method="post" class="left" id ="post-form">
                                <meta name="csrf-token" content="{{ csrf_token }}">
                                <button type="button" class="btn btn-info" id = "postcomment" data ="{{concert.concertID}}" data-url = "{% url 'postcomment' %}" >Post</button>
                            </form>
                                {% if not user.is_venue %}
                                    {% check_no_rating user.username concert.concertID as not_rated %}
                                    {% if not_rated %}
                                        <div class="form-inline right"  id = "ratingdiv" >
                                            <form method="post" class="form-inline">
                                                <select id="rating" class="custom-select">
                                                <option value="5">5 - Excellent</option>
                                                <option value="4">4 - Good</option>
                                                <option value="3">3 - Okay </option>
                                                <option value="2">2 - Bad </option>
                                                <option value="1">1 - Awful </option>
                                                </select>
                                                <button type= "button" id="ratingbutton" class="btn btn-info right" data-url = "{% url 'rateconcert' %} ">Rate</button>
                                            </form>
                                        </div>
                                    {% else %}
                                        <p class = "right"> Thank you for rating!</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        <br>
                        <br>
                        <hr>
                        <!-- Comment input area end --> 

                        <!-- Section for all the comments, show all comments associated with this conncert -->
                        <ul class = "comments" id ="allcomments">
                            {% for comment in concert.comment.all %}
                                <li class="media">

                                    <a href="{% url 'profile' comment.user.username %}" class="pull-left">
                                        {% if comment.user.is_venue and comment.user.venue.image != "" %}
                                            <img src="{{ comment.user.venue.image.url }}" alt="Avatar" class="avatar">
                                        {% elif not comment.user.is_venue and comment.user.giggoer.image != "" %}
                                            <img src="{{comment.user.giggoer.image.url }}" alt="Avatar" class="avatar">
                                        {% else %}
                                            <i class="far fa-user fa-lg"></i>
                                        {% endif %}
                                    </a> <!-- Handle profile pic and wrap in link to profile -->


                                    <div class="media-body"> <!-- Comment body starts here -->
                                        <a href="{% url 'profile' comment.user.username %}"><strong class="text-success">&nbsp;&nbsp;{{comment.user.username}}</strong></a>
                                        <p>&nbsp;{{ comment.text }}</p>
                                    </div>
                                </li>
                            {% endfor %}       
                        </ul>
                    </div>
                </div>

                <div id="going" class="tab-pane fade show"> <!-- This shows all users who have bookmarked the concert-->
                    <br>
                    <div class = "row">
                    {% if concert.bookmarks.all  %}
                        {% for giggoer in concert.bookmarks.all %}
                            <div class="col-4 col-md-3 col-lg-3 mt">
                                <div class="tile-container">
                                    <div class="tile">
                                        <div class="tile-front" style="background-image: url({{ giggoer.image.url }}); background-size: cover; background-position: center;">
                                            <div class="bottom-left">
                                                <p>
                                                    <br>
                                                    {{ giggoer.user.username }}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="tile-back" style=" background-image: url({{ giggoer.image.url  }}); background-size: cover; background-position: center;">
                                            <div class ="center-white-bg back-tile">
                                                <div class ="center">
                                                    <a href="{% url 'profile' giggoer.user %}">
                                                        <button class="btn btn-outline-info">View</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                    {% else%}
                        <p> There are no other users currently intrested in this concert</p>
                    {% endif %}
                    </div>
                    <!-- User tiles-->
                </div>
                <div id="venue" class="tab-pane fade"> <!-- This tab contains a venue description -->
                    <br>
                        <a href="{% url 'profile' concert.venue.user.username %}"><h2>{{ concert.venue.venue_name }}</h2></a>
                    <img class = "img-fluid "src="{{ concert.venue.image.url }}">
                    <p>{{ concert.venue.description }}</p>
                </div>

                <div id="spotify" class="tab-pane fade"> <!-- This tab contains a venue description -->
                    <br>
                    <iframe src="https://open.spotify.com/embed/artist/{{concert.spotify_URI}}" width="370" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>

                <div id="map" class="tab-pane fade show">
                    <br>
                    <div id="google-map" data-venuename ="{{ concert.venue.venue_name }}" data-location = "{{ concert.venue.location }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script src="{% static 'js/concert.js' %}"></script>

{% endblock %}
