{% extends 'concert/base.html' %}
{% load staticfiles %} 

{% block title_block %} {{ block.super }} {% endblock %}

{% block body_block %}

     
     
                    
 <div class="container">
        <br>
        <h1>{{ concert.artist}} at {{ concert.venue.venue_name }}</h1>
        <p>{{ concert.venue.venue_name }} , {{ concert.venue.location }}<br>
          {{ concert.start_time }} - {{ concert.end_time }}   {{ concert.date }}</p>
        <p><a href="{{ concert.url}}">Tickets</a></p>

        <img class = "img-fluid" src="{{ concert.image.url }}">
        <br>
        <br>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#events" role="tab" aria-selected="true">Event</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#venue" role="tab" aria-selected="true">Venue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#going" role="tab" aria-selected="true">{% if concert.is_future %} Going {% else %} Went {% endif %}</a>
            </li>
        
             <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#comments" role="tab" aria-selected="true">Comments</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="events" class="tab-pane fade show active">
                <br>
                <h2>{{ concert.artist }}</h2>
                 <p>{{ concert.description }}</p>
                 <br>
                 <br>
            </div>


            <div id="venue" class="tab-pane fade">
                <br>
                    <h2>{{ concert.venue.venue_name }}</h2>
                    <img class = "img-fluid"src="{{ concert.venue.image.url }}">
                    <p>{{ concert.venue.description }}</p>
             </div>

             <div id="going" class="tab-pane fade show">
                <br>
                {% if concert.bookmarks.all  %}
                {% for giggoer in concert.bookmarks.all %}
                 <p >{{ giggoer.user.username }}</p>
                {% endfor %}
                {% else%}
                <p> There are no other users currently intrested in this concert</p>
                {% endif %}
            </div>
            
            <div id="comments" class="tab-pane fade">
                <br>
                    <h2> Comments</h2>
                    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div>
            <div class="panel panel-info">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                    <br>
                    <button type="button" class="btn btn-info pull-right">Post</button>
                    <hr>
                    <ul class = "comments">
                        {% for comment in concert.comment.all%}
                        <li class="media">
                            <a href="{ % url 'profile' comment.user.username‰}" class="pull-left">
                                {% if comment.user.is_venue and comment.user.venue.image != "" %}
                                         <img src="{{ comment.user.venue.image.url }}" alt="Avatar" class="avatar">
                                    {% elif not comment.user.is_venue and comment.user.giggoer.image != "" %}
                                        <img src="{{comment.user.giggoer.image.url }}" alt="Avatar" class="avatar">
                                    {% else %}
                                        <i class="far fa-user fa-lg"></i>
                                    {% endif %}
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                <a href="{ % url 'profile' comment.user.username ‰}"><strong class="text-success">{{comment.user.username}}</strong><a>
                                <p>
                                    {{ comment.text }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}        
                    </ul>
                </div>
            </div>
        </div>

    </div>
                </div>
        </div>


    </div>

<script>
function postcomment(elem) {
         $(elem).parent().parent().hide();
        
    };


</script>s

{% endblock %}