{% extends 'concert/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} - Contact {% endblock %}

{% block body_block %}
    <div class="container">
    	<br>
        <h1 class="display-4">Contact</h1>
        <p class="lead">Drop Us a Message</p>

        <form method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        {{ contactform.subject|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ contactform.name|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ contactform.email|as_crispy_field }}
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        {{ contactform.message|as_crispy_field }}
                    </div>
                </div>
            </div>

            <input class="btn btn-success" type="submit" name="submit_contact" value="Send Message">
        </form>
    </div>
    
{% endblock %}