{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_block %}
<div class = "container">
    <div class="row">
        {% for concert in concerts%}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{{concert.image.url}}">

                    <div class="card-body">

                        <h5 class="card-title">{{ concert.artist }}</h5>
                        <span> <button class="btn btn-outline-dark" >View</button><button class="btn btn-success">Bookmark</button> </span>
                        <p class="card-text "><i>{{concert.description}}</i></p>

                    </div>
                </div>
            </div>
        {%endfor %}
    </div>
</div>
{% endblock %}
