{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title %} {{ block.super }} - FAQ {% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <h1 class="display-4">FAQ</h1>

        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: How do I create an account?</a>
                    </h4>
                </div>

                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>

                        <p>Click the 'sign up' button at the top right hand side of the page. Once clicked, you will be taken to the sign up page where you will be given the option to either create a user account or a venue account. You should create a user account if you wish to search for concerts near you. A venue account should be created if you are venue which would like to host concerts on our site. Once you have created an account, you will be sent an email which contains a link that will enable you to actiavte your account. You must do this in order to access all features of FindMyConcert</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: Can I still use FindMyConcert without an account?</a>
                  </h4>

                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>Yes you can! However, the features which you can use will be limited. Without an account, you are able to view the full list of concerts and also search for them too. You can search by your current location using the blue button to the right of the search bar. This will search for concerts near you! Plus, you will be able to view the concert by hovering over the tile and clicking the 'view' button.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: How do I see more information about a concert?</a>
                  </h4>

                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>Hover over one of the tiles on the events page and watch it flip around! On the back, you will be greeted by a button that says 'view'. Click this and you will be taken to a page which is filled with information about the event. On this page, you will have the ability to:</p>
                        <ul style="list-style-type: circle;">
                            <li>View and post comments</li>
                            <li>Rate the event and see its average rating</li>
                            <li>See more details about the venue</li>
                            <li>Use the Spotify widget in order to play songs about the artist</li>
                            <li>See the location of the venue on a google map</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: How do I add an event of my own?</a>
                  </h4>

                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>Provided that you have created and signed into a venue account, you can add a concert very simply. Click the 'add concert' button at the top of the page once you have logged in. You will be greeted with a simplistic form which enables you to add a concert easily and efficiently. Once added, your concert will appear as a tile on the events page.</p>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: I've forgotten my password, how do I reset it?</a>
                  </h4>

                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>Make sure you are signed out and click the 'sign in' dropdown menu in the top right hand corner of the page. Once here, clicked the 'Forgot password?' button at the bottom. Enter the email address associated with your account and follow the instructions sent to your email address in order to reset your password. Please note, if you enter an email address which doesn't relate to an account on our system then no password reset email will be sent to you!</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                     <h4 class="panel-title">
                        <a href="#" class="ing">Q: How does discover work?</a>
                  </h4>

                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Answer</span></h5>

                        <p>The discover page recommends you artists which you have not yet bookmarked. It recommends these artists by correlating your ratings with other users who have rated concerts in a similar fashion as you.

                        The recommender engine uses a mathematical operation called singular value matrix decomposition (henceforth SVD). All user ratings are stored in a  matrix where each row represents a unique user and each column represents a unique artist. Missing ratings (all occurrences where a user has not rated a user) are called latent factors. Most ratings in the matrix are latent factors, so the matrix is a sparse matrix.</p>

                        <img class="img-fluid" style ="background-color:white;" src="http://www.cs.carleton.edu/cs_comps/0607/recommend/recommender/images/svd2.png">

                        <p>In SVD the ratings matrix (x̂) is decomposed into three lower dimensional matrices. U is the matrix which represents the relationship between users and latent factors. S is a diagonal matrix which (essentially) represents the weights of each rating. The last matrix VT is a right singular matrix, this represents the relationship between artists and the latent factors. We decompose the ratings matrix with a rank K = 5 and then multiply U, S and VT  back together to get the rank K approximation of the ratings matrix. 

                        Now all the latent factors are filled in with a value whcih should approximately represent the rating each user would have given the artist in question. Now a row which represents a user can be extracted, transposed and sorted to find teh aritists which the user might enjoy.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/panel-group-->
    </div>
     

{% endblock %}