{% extends 'concert/base.html' %}
{% load staticfiles %} 

{% block title_block %} {{ block.super }} {% endblock %}

{% block body_block %}
    <div class="background">
        <img src="{% static 'images/concert.jpg' %}" class="background-cover">

        {% if user.is_authenticated and user.is_venue %}
        <a href="{% url 'add-concert' %}" id="box"> 
            
        </a>

        <a href="{% url 'add-concert' %}" id="title"> 
        <h1 id ="title">AddMyConcert</h1>
        </a>

        {% else %}

          <a href="{% url 'events' %}" id="box"> 
            
        </a>

        <a href="{% url 'events' %}" id="title"> 
        <h1 id ="title">FindMyConcert</h1>
        </a>

        {% endif %}
    </div>


    <script>
        $(document).ready(function() {
            $("#title").hide().fadeIn(1500);
            $("#box").fadeIn(1500);
        });
    </script>

{% endblock %}
