{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_block %}
    <div class="container">
        {% if concerts %}
            <table class="table table-hover">
                <tbody>
                    {% for concert in concerts %}
                        <tr>
                            <td>{{ concert.artist }}</td>
                            <td>{{ concert.user.venue.name }}, {{ concert.user.venue.location }}</td>
                            <td>{{ concert.date }}</td>
                            <td>{{ concert.start_time }} - {{ concert.end_time }}</td>
                            <td>{{ concert.url }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul>

            </ul>
        {% else %}
            <strong>There are no concerts present</strong>
        {% endif %}
    </div>
{% endblock %}