{% extends 'concert/base.html' %}
{% load staticfiles %} 

{% block title_block %} {{ block.super }} {% endblock %}

{% block body_block %}

    <div class="background">
        <!-- Set the background image-->
        <div id="randImage" class="background-cover">

        <!-- Different titles depending on concert or not-->
        {% if user.is_authenticated and user.is_venue %}
            
            <a href="{% url 'add-concert' %}" id="box"> 
            </a> <!-- Create box-->

            <a href="{% url 'add-concert' %}" id="title"> 
                <h1 id ="title">AddMyConcert</h1>
            </a> <!-- Superimpose text above box-->

            {% else %}

            <a href="{% url 'events' %}" id="box">  
            </a> <!-- Create box-->

            <a href="{% url 'events' %}" id="title"> 
                <h1 id ="title">FindMyConcert</h1>
            </a> <!-- Superimpose text above box-->

        {% endif %}
       </div>
    </div>


    <script src="{% static 'js/index.js' %}" ></script>

{% endblock %}
