{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_block %}

<!-- DON'T MOVE THE STYLE TAG INTO BASE.CSS! IT WILL BREAK SIGN UP PAGE -->
<style>
.nav-tabs {
    display:none;
}

@media(min-width:991px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:991px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

</style>


<!-- DON'T MOVE THE STYLE TAG INTO BASE.CSS! IT WILL BREAK SIGN UP PAGE -->



{% if user.is_authenticated %}

    <div class="container">
        {% if location %}
            <p>Current City: {{ location.city }}</p>
        {% endif %}

        <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">All Events</a>
            </li>
            <li class="nav-item">
                <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">My Upcoming Events</a>
            </li>
            <li class="nav-item">
                <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">My Past Events</a>
            </li>
        </ul>


        <div id="content" class="tab-content" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                <div class="card-header" role="tab" id="heading-A">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                            All Events
                        </a>
                    </h5>
                </div>
            

                <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                    <div class="card-body">
          {% if concerts %}
                            <div class="table-responsive">
                                <table class="table table-hover" align="center" style="width: 90%">
                                    <tbody>
                                        {% for concert in concerts %}
                                            <tr>
                                                <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.artist }}</td>
                                                <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.venue.venue_name }}, {{ concert.venue.location }}</td>
                                                <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.date }}</td>
                                                <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.start_time }} - {{ concert.end_time }}</td>
                                                <td><a href="{{ concert.url}}">Tickets</a></td>

                                                {% if user.is_authenticated and not user.is_venue %}
                                                    <td>
                                                        <button class="btn btn-outline-success" onclick="bookmark({{ concert.concertID }})" >Bookmark</button>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <strong>There are currently no concerts with those search fields</strong>
                        {% endif %}
                        
                    </div>
                </div>
            </div>

            <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                <div class="card-header" role="tab" id="heading-B">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                            My Upcoming Concerts
                        </a>
                    </h5>
                </div>

                <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                    <div class="card-body">
                        {% if user.is_venue %}
                            {% if user.venue.concert %}
                                <div class="table-responsive">
                                    <table class="table table-hover" align="center" style="width: 90%">
                                        <tbody>
                                            {% for concert in user.venue.concert.all %}
                                                {% if concert.is_future %}
                                                    <tr>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.artist }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.venue.venue_name }} , {{ concert.venue.location }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.date }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.start_time }} - {{ concert.end_time }}</td>
                                                        <td><a href="{{ concert.url}}">Tickets</a></td>
                                                        <td><a href="{% url 'edit' concert.concertID%}">

                                                            <button class="button button-blue button-bordered">
                                                                <span class="button--inner">Edit</span> </td>
                                                                
                                                                <td>
                                                                    <form action="{% url 'delete' concert.concertID%}" method="post">
                                                                        {% csrf_token %}
                                                                        <button type="submit" >Delete</button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if user.giggoer.bookmarks %}
                                <div class="table-responsive">
                                    <table class="table table-hover" align="center" id ="futureevents" style="width: 90%">
                                        <tbody>
                                            {% for concert in user.giggoer.bookmarks.all %}
                                                {% if concert.is_future %}
                                                    <tr>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.artist }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.venue.venue_name }} , {{ concert.venue.location }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.date }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.start_time }} - {{ concert.end_time }}</td>
                                                        <td><a href="{{ concert.url}}">Tickets</a></td>

                                                        <td>
                                            
                                                                <button class="btn btn-outline-danger" onclick = "removebookmark({{ concert.concertID}});hideparent(this);" >Remove Bookmark</button>
                                               
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                <div class="card-header" role="tab" id="heading-C">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">
                            My Past Events
                        </a>
                    </h5>
                </div>

                <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                    <div class="card-body">
                        {% if user.is_venue %}
                            {% if user.venue.concert %}
                                <div class="table-responsive">
                                    <table class="table table-hover" align="center" style="width: 90%">
                                        <tbody>
                                            {% for concert in user.venue.concert.all %}
                                                {% if not concert.is_future %}
                                                    <tr>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.artist }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.venue.venue_name }} , {{ concert.venue.location }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.date }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.start_time }} - {{ concert.end_time }}</td>
                                                        <td><a href="{{ concert.url}}">Tickets</a></td>
                                                        <td><a href="{% url 'edit' concert.concertID%}">

                                                        <button class="button button-blue button-bordered">
                                                        <span class="button--inner">Edit</span></td>

                                                        <td>
                                                        <form action="{% url 'delete' concert.concertID%}" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" >Delete</button>
                                                        </form>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>  
                            {% endif %}
                        {% else %}
                            {% if user.giggoer.bookmarks %}
                                <div class="table-responsive">
                                    <table class="table table-hover" align="center" style="width: 90%">
                                        <tbody>
                                            {% for concert in user.giggoer.bookmarks.all %}
                                                {% if not concert.is_future %}
                                                    <tr>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.artist }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.venue.venue_name }} , {{ concert.venue.location }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.date }}</td>
                                                        <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.start_time }} - {{ concert.end_time }}</td>
                                                        <td><a href="{{ concert.url}}">Tickets</a></td>

                                                        <td>
                                                        <button class="btn btn-outline-danger" onclick = "removebookmark({{concert.concertID}});hideparent(this);">Remove Bookmark</button>
                                                 
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                     </table>
                                </div>
                            {% else %}
                                <strong>You have no concerts bookmarked</strong>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% if concerts %}
        <div class="table-responsive">
            <table class="table table-hover" align="center" style="width: 90%">
                <tbody>
                    {% for concert in concerts %}
                        <tr>
                            <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.artist }}</td>
                            <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.venue.venue_name }}, {{ concert.venue.location }}</td>
                            <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.date }}</td>
                            <td class="clickable-row" data-href="{% url 'view' concert.concertID%}">{{ concert.start_time }} - {{ concert.end_time }}</td>
                            <td><a href="{{ concert.url}}">Tickets</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <strong>There are currently no concerts with those search fields</strong>
    {% endif %}
{% endif %}


<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    });

    function removebookmark(concertid) {
        $.get('/concert/removebookmark/', {concertid: concertid});
        toastr.error('Bookmark successfully removed!');
    };

    function hideparent(elem) {
         $(elem).parent().parent().hide();
        
    };

    function bookmark(concertid) {

        //Start by bookmarking the concert
        $.get('/concert/bookmark/', {concertid: concertid}); 
        toastr.success('Concert successfully bookmarked!');


        var $requesturl = 'http://127.0.0.1:8000/api/getconcert/' + concertid;

        //Now use AJAX to fetch the data for a the concert
        $.ajax({
            url: $requesturl ,
            type: 'GET',
            
            success: function(res){
                toastr.success('Data successfully received');
                //Depending on the date of the conert, append to appropiate 
                //table

                $.each(res, function(i, item) {
                        $('<tr>').append(
                        $('<td>').text(item.artist),
                        $('<td>').text(item.venuename),
                        $('<td>').text(item.date),
                        $('<td>').text(item.starttime),
                        $('<td>').text('test'),
                        $('<td>').text('test')
                    ).appendTo('#futureevents');
                });
                toastr.success('Table added');
                    
               }
        });
    };

    
</script>







{% endblock %}

