{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title %} {{ selecteduser.username }} {% endblock %}

{% block body_block %}
    <h3>{{ selecteduser.username }}'s Profile</h3>
    <img src="{{ MEDIA_URL }}{{ userprofile.image }}" width="200" height="200" alt="{{ selecteduser.username }}">
    <br>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="Update">
            </form>
        {% endif %}
    </div>
{% endblock %}