{% extends 'concert/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
 
{% block body_block %}
    <div class="container">
        <br>
 
        {% if selecteduser.username == user.username %}
            <h1 class="display-4">Your Profile</h1>
            <p class="lead">Edit your profile here</p>
        {% else %}
            <h1 class="display-4">{{ selecteduser.username}}'s Profile</h1>
            <p class="lead">Discover other user's just like you</p>
        {% endif %}
 
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    {% if selecteduser.is_venue and user.venue.image != "" %}
                        <img class="card-img-top" src="{{ selecteduser.venue.image.url }}">
                    {% elif not selecteduser.is_venue and user.giggoer.image != "" %}
                        <img class="card-img-top" src="{{ selecteduser.giggoer.image.url }}">
                    {% else %}
                        <img class="card-img-top" src="{% static 'images/default-pic.png' %}">
                    {% endif %}
 
                    <div class="card-body">
                        <h5 class="card-title">{{ selecteduser.username }}</h5>
                        <!--<p class="card-text"><i>Venue user</i></p>-->
 
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-activity-tab" data-toggle="pill" href="#v-pills-activity" role="tab" aria-controls="v-pills-activity" aria-selected="true">Activity</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
 
                            {% if selecteduser.username == user.username %}
                                <a class="nav-link" id="v-pills-edit-tab" data-toggle="pill" href="#v-pills-edit" role="tab" aria-controls="v-pills-edit" aria-selected="false">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
 
            <div class="col-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-activity" role="tabpanel" aria-labelledby="v-pills-activity-tab">
                        <div class="panel-group" id="faqAccordion">
                            <div class="panel panel-default ">
                                <h2>Activity</h2>
 
 
 
                                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                                    <h4 class="panel-title">Upcoming Events <span class="badge badge-secondary">3</span></h4>
                                </div>
                                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
 
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five <a href="http://jquery2dotnet.com/" class="label label-success">http://jquery2dotnet.com/</a> centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                </div>
                            </div>
 
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                                    <h4 class="panel-title">Past Events <span class="badge badge-secondary">7</span></h4>
                                </div>
                                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <h5><span class="label label-primary">Answer</span></h5>
 
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five <a href="http://jquery2dotnet.com/" class="label label-success">http://jquery2dotnet.com/</a> centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <p>
                            Username: {{ selecteduser.username }}
                            <br>
                            Email: {{ selecteduser.email }}
                            <br>
                            {% if selecteduser.is_venue %}
                                User Type: Venue
                            {% else %}
                                User Type: GigGoer
                            {% endif %}
                        </p>
                    </div>
 
                    {% if selecteduser.username == user.username %}
                        <div class="tab-pane fade" id="v-pills-edit" role="tabpanel" aria-labelledby="v-pills-edit-tab">
                            <h3>Edit Profile</h3>
 
                            <form method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form |crispy }}
                                <input type="submit" name="Update">
                            </form>
                        </div>
                    {% endif %}
                </div>
             </div>
        </div>
    </div>
{% endblock %}
