{% extends 'concert/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body_block %}
    <h3>{{ selecteduser.username }}'s Profile</h3>
    {% if selecteduser.is_venue %}
    <img src="{{ selecteduser.venue.image.url }}">
    {% else %}
    <img src="{{ selecteduser.giggoer.image.url }}">
    {% endif %}
    <br>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form |crispy }}
                <input type="submit" name="Update">
            </form>
        {% endif %}
    </div>
{% endblock %}