{% extends 'concert/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ block.super }}
{% endblock %}

{% block header_block %}

{% endblock %}

{% block body_block %}
	<h1>Register</h1>

	{% if registered %}
		<strong>You are already registered!</strong>
	{% else %}
		<form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
			{% csrf_token %}

			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<input type="submit" name="submit" value="Register">
		</form>
	{% endif %}
{% endblock %}