._1g5o{min-width:120px}
.sp_3MZ0xziO-l7_2x{background-image:url(/rsrc.php/v3/yS/r/d2oX4kgG1nV.png);background-size:41px 66px;background-repeat:no-repeat;display:inline-block;height:32px;width:40px}.sp_3MZ0xziO-l7_2x.sx_f34aa7{background-position:0 0}.sp_3MZ0xziO-l7_2x.sx_424f45{background-position:0 -33px}

#bootloader_8PTE_{height:42px;}.bootloader_8PTE_{display:block!important;}